.main {
  max-width: 1200px;
  margin: 0 auto;

  @media (max-width: 768px) {
    margin: 0;
    width: 100%;
    padding: 0 20px;
    font-size: 12px;
  }

  @media (max-width: 600px) {
    padding: 0 5px;
    font-size: 6px;
    font-weight: bold;
  }

  @media (max-width: 300px) {
    font-size: 5px;
  }

  &__title {
    display: flex;
    font-weight: bold;
  }

  &__table {


  }

  &__cell {
    width: 17%;
    padding: 10px;
    border: 1px solid black;
  }

  &__add-button {
    @apply py-2 px-4 rounded;
    @apply bg-green-500 text-white;
    margin: 10px 0;

    &:hover {
      @apply bg-green-700;
    }
  }

}
